body {
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
}

h1 {
    font-size: 3em;
    color: #609;
    font-weight: 400;
    font-family: "CourierNew", Courier, monospace;
    border: 1px solid #4c0072;
    background-color: #f0e6f5;
    padding: .5em;
    margin: 0;
}

h2 h3 h4 {
    color: #99007f;
}

h2 p {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-style: italic;
    font-size: 1.5em;
    background-color: #f0e6f5;
    padding: .25em .5em;
}

h3 {
    border-bottom: 1px solid;
    padding-bottom: .25em;
}

ul {
    list-style-type: square;
}

a:visited {
    color: #876399;
}

.introduction {
    font-size: 1.5em;
    color: #72005f;
    font-style: italic;
}

.navigation {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    background-color: rgb(157, 197, 157);
    border: 1px solid #4c0072;
    border-top: none;
    margin: 0;
    padding: 0em;
    height: 2em;
}

.navigation > li {
    width: 100px;
}

.navigation > li > a {
    color: #609;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #333;
    height: 100%;
    /* Transition that activate nav button highlight on hover and when using a tab
    to navigate a website */
    transition: all .5s ease-in-out;
}

.navigation > li > a:visited {
    color: #609;
}

.navigation > li > a:hover, a:focus {
    background-color: rgb(187, 222, 187);
}

.active {
    background-color: lightgray;
}

.active:hover, .active:focus {
    background-color: lightgray;
}

form {
    display: flex;
    flex-direction: column;
}

.form-control {
    margin-bottom: 1em;
}

input {
    margin-top: .5em;
}